.pkimm-overview {
  border: 1px solid #ddd;
  padding: 1rem;
  margin-bottom: 1rem;

  &-header {
    table {
      width: 100%;
      border-collapse: collapse;

      th,
      td {
        padding: 8px;
        text-align: left;
        border: 1px solid #ddd;
      }

      th {
        background-color: #f4f4f4;
        color: var(--pkimm-text-color-dark);
      }

      ///* Apply colors to each row based on the maturity level */
      //tr:nth-child(1) { /* Initial */
      //  background-color: var(--pkimm-maturity-level-1);
      //  color: var(--pkimm-text-color-light);
      //}
      //
      //tr:nth-child(2) { /* Basic */
      //  background-color: var(--pkimm-maturity-level-2);
      //  color: var(--pkimm-text-color-light);
      //}
      //
      //tr:nth-child(3) { /* Advanced */
      //  background-color: var(--pkimm-maturity-level-3);
      //  color: var(--pkimm-text-color-dark);
      //}
      //
      //tr:nth-child(4) { /* Managed */
      //  background-color: var(--pkimm-maturity-level-4);
      //  color: var(--pkimm-text-color-dark);
      //}
      //
      //tr:nth-child(5) { /* Optimized */
      //  background-color: var(--pkimm-maturity-level-5);
      //  color: var(--pkimm-text-color-dark);
      //}
    }
  }

  .pkimm-overview-actions {
    display: flex;
    gap: 15px;
    margin-top: 2rem;

    button {
      padding: 10px 20px;
      border: none;
      font-size: 1rem;
      cursor: pointer;
      border-radius: 4px;
      transition: background-color 0.3s ease;

      &.share-button {
        background-color: var(--pkimm-primary-color);
        color: white;

        &:hover {
          background-color: var(--pkimm-primary-color-hover);
        }
      }

      &.reset-button {
        background-color: #dc3545;
        color: white;

        &:hover {
          background-color: #c82333;
        }
      }
    }
  }
}
