@use "styles/main.scss" as main;

:root {
  --pkimm-primary-color: #{main.$primary-color};
  --pkimm-secondary-color: #{main.$secondary-color};
  --pkimm-tertiary-color: #{main.$tertiary-color};

  --pkimm-primary-color-hover: #{main.$primary-color-hover};
  --pkimm-primary-color-lighter: #{main.$primary-color-lighter};

  --pkimm-secondary-color-lighter: #{main.$secondary-color-lighter};

  --pkimm-maturity-level-1: #{main.$maturity-level-1};
  --pkimm-maturity-level-2: #{main.$maturity-level-2};
  --pkimm-maturity-level-3: #{main.$maturity-level-3};
  --pkimm-maturity-level-4: #{main.$maturity-level-4};
  --pkimm-maturity-level-5: #{main.$maturity-level-5};

  --pkimm-background-color: #{main.$background-color};

  --pkimm-text-color-dark: #{main.$text-color-dark};
  --pkimm-text-color-light: #{main.$text-color-light};

  --pkimm-sticky-top-offset: 0px;
  --pkimm-scroll-query-selector: window;
}
